<footer>
    <section id="contact">
        <address>
            <b>Scris de Rogoza Raluca</b>
            <br>
            <b>Telefon: <a href="tel:+40722222222">0722222222</a></b><br>
            <b>Locatie: <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83+-+Universitatea+din+Bucure%C8%99ti/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" target="_blank">Facultatea de matematica si informatica</a></b><br>
            <b>Email: <a href="mailto:raluca_rogoza@yahoo.com">raluca_rogoza@yahoo.com</a></b><br>
            <b>Whatsapp: <a href="https://wa.me/+40741310272" target="_blank">Incepe o conversatie</b></a>
        </address>
        
        <p><b>Site-ul a fost conceput pe data de <time datetime="2022-02-25">25 februarie 2022</time></b></p>
        <b><a href="#">Mergi catre inceputul paginii</a></b>
        <p><b><small>&copy; Toate drepturile rezervate.</small></b></p>
    </section>
</footer>