<header>
    <h1>Site de rețete</h1>
    <br><br>
    <nav>
        <label for="chk-meniu"><img id="img_meniu" src="./resurse/imagini/hamburger.png" alt="meniu"></label>
        <input type="checkbox" id="chk-meniu"/>
        <ul class="meniu">
            <li><a href="/index">Acasa</a>
                <ul class="submeniu">
                    <li><a href="/index#salut">Salut!</a></li>
                </ul>
            </li>
            <li><a href="/index#contact">Contact</a></li>
            <li><a href="/index#preparate">Preparate</a>
                <ul class="submeniu2">
                    <li><a href="/index#preparates">Preparate sarate</a></li>
                    <li><a href="/index#preparated">Preparate dulci</a></li>
                </ul>
            </li>
            <li><a href="/inregistrare">Inregistrare</a></li>
            <% if(locals.utilizator) { %>
                <li><div>Logat <%- locals.utilizator.username %></div></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>  
        </ul>
    </nav>
</header>